<div class='container'>
  <h2>Log in</h2>
  <%= display_error %>
  <%= form_for :user, url: '/login'  do |f| %>
    <p><%= f.email_field :email, placeholder: "Email" %></p>
    <p><%= f.password_field :password, placeholder: "Password" %></p>
    <p><%= f.submit "Log in" %></p>

  <% end %>
</div>

