<div class="row" id="issue-header">
  <div class="large-2 columns" id="donkey-logo-div">
      <%= image_tag("donkey.png", class: "poly-logo-bar") %>
  </div>
  <div class="large-8 center-text columns">
    <h2><%= @issue.description.split.map { |i| i.capitalize }.join(' ') %></h2>
  </div>
  <div class="large-2 columns>">
    <%= image_tag("elephant.png", class: "poly-logo-bar") %>
  </div>
</div>
  
<div class="large-12 large-centered columns">
  <div class="row">
    <div class="large-12 columns issue-bar-div">
      <div class="range-slider round issue-bar">
        <% @legislators.each do |legislator| %>
          
          <a href="#" data-reveal-id="<%= legislator.bioguide_id %>"><img data-value="<%= legislator.get_issue_score(@issue.id) %>" src="<%= legislator.img_url %>" class="issue-bar-pic"></a>

          <div id="<%= legislator.bioguide_id %>" class="reveal-modal" data-reveal>
            <a href="/legislators/<%= legislator.id %>"><h2><%= legislator.offical_prefix %> <%= legislator.name %></h2></a>
            <h4>Issue: <%= @issue.description.split.map { |i| i.capitalize }.join(' ') %></h4>
            <h4>Spectrum Value: <%= legislator.get_spectrum_value(legislator.get_issue_score(@issue.id)) %></h4>
            <p class="lead"></p>
            <span><img class="modal-img" src="<%= legislator.img_url %>"</span>
            <h6><%= link_to 'More information on this legislator.', legislator_path(legislator.id) %></h6>
            <a class="close-reveal-modal">&#215;</a>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row issue-positions">
  <div class="large-6 columns">
    <div class="panel">
      <p><%= @issue.dposition %></p>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="panel">
      <p><%= @issue.rposition %></p>
    </div>
  </div>
</div>