<div class="center-text">
  <h2>openPAC</h2>
  <%= display_error %>
</div>
<div class="panel large-4 large-centered columns">
  <div class="large-centered columns">
    <%= form_for @user do |f| %>
    <%= f.text_field :username, placeholder: "Username" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.password_field :password, placeholder: "Confirm Password" %>
  </div>
  <div class="large-centered columns">
    <%= f.submit "Signup", class: "button expand" %>
  </div>
</div>
<% end %>