<p>Welcome to the quiz, <%=current_user.first_name %></p>
<div class="row">
  <div class="large-8 columns">
<%= form_for @user, url: "/process_form", method: "POST" do |f| %>
  Fiscal Score:
  <%= f.text_field :fiscal_mean, placeholder: "fiscal score" %>
  Social Score:
  <%= f.text_field :social_mean, placeholder: "social score" %>
  <%= f.submit "Submit", class: "button small radius" %>
<% end %>
  </div>
</div>