<div class="row">
  <div class="large-12 columns">
    <!-- Header Content -->
    <div class="row">
      <div class="large-8 large-centered columns">
        <div class="panel">
          <h3><%=@user.username%></h3>
          <h4><%=@user.city%>, <%= @user.state %></h4>
          <p><%=@user.about%></p>
          <% if current_user.id == @user.id %>
            <h6><%= link_to 'Edit Profile', edit_user_path, method: :get %></h6>
          <% end %>
        </div>
      </div>

      <div class="large-2 columns">
      </div>

    </div>
    <!-- End Header Content -->

    <!-- Stances Users Taken Title -->
    <div class="row">
      <div class="large-12 columns center-text">
        <h2>Stances You've Taken</h2>
      </div>
    </div>

    <!-- Search Buttons -->
    <div class="row">
      <div class="medium-8 columns">
        <dl class="sub-nav">
          <dt>Sort:</dt>
          <dd class="active"><a href="#">Recent</a></dd>
          <dd><a href="#">Popular</a></dd>
          <dd><a href="#">Alphabetical</a></dd>
        </dl>
      </div>
    </div>
    <!-- End Search Buttons -->

    <% if @user.stances.count == 0 %>
      <div class="row center-text">
        <h1 id="no-stances-logo"><%=@user.username%> hasn't taken any stances.</h1>
      </div>

    <% else %>

    <% end %>

    <!-- Stances -->
    <div class="row">
      <% @user.stances.each do |stance| %>
        <%= render partial: "stances/details", locals: {stance: stance} %>
      <% end %>
    </div>
    <!-- End Stance -->
  </div>
</div>

