<div class="row">
  <div class="large-12 small-12 columns text-center">
    <div class="large-8 small-8 small-centered large-centered columns">
      <h1>Billfinity</h1>
      <p>Quickly see bills relevant to you.</p>
      <hr>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-8 small-12 small-centered large-centered columns text-center">
    <div class="bill-display">
      <p class="error"><%= display_error %></p>
      <h4>Official Title</h4>
      <p class="bill-text"><%= truncate(@bill.official_title, length: 300) %></p>
      <br>
      <a href="<%= @bill.congress_url %>">See full bill</a>
      <br>
      <br>
      <h4>Affinity Score</h4>
      <br>
      <div class="row">

        <div class="large-6 large-centered columns text-center">
          <h5>Vote</h5>
          <%= simple_form_for @vote, url: votes_path, method: :post do |f| %>
            <%= f.input :bill_id, as: :hidden %>
            <%= f.submit "Yea", class: "button radius large" %>
            <%= f.submit "Nay", class: "button radius large" %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="row">
  <div class="large-6 columns bill-panel">
    <center><h4>Relevant Bills</h4></center>
    <ul>
    <% @bills.each do |bill| %>
      <li>
        <a href="<%= bill.congress_url %>"><%= truncate(bill.official_title, length: 80) %></a>
      </li><br>
    <% end %>
    </ul>
  </div>
  <div class="large-6 columns voted-panel">
    <% if logged_in? && @voted_bills %>
    <center><h4><%= @voted_bills.count %> Bills voted on</h4></center>
    <ul>
      <% @voted_bills.order('updated_at DESC').each do |bill| %>
        <li>
          <a href="<%= bill.congress_url %>"><%= truncate(bill.official_title, length: 80) %></a>
          <p>Fiscal: <%= bill.fiscal_mean %>, Social: <%= bill.social_mean %></p>
          <p>Affinity: </p>
        </li><br>
      <% end %>
    <% else %>
      <center>No bills voted on yet. Go vote!</center>
    <% end %>
    </ul>
  </div>
</div>