<div class="row">
  <div class="large-12 small-12 columns text-center">
    <div class="large-8 small-8 small-centered large-centered columns">
      <h1>Glass Dashboard</h1>
      <p>Quickly see bills relevant to you.</p>
      <hr>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 small-12 columns">
    <div class="large-4 bill-panel">
      <ul>
      <% @bills.each do |bill| %>
        <li>

          <a href="<%= bill.congress_url %>"><%= truncate(bill.official_title, length: 80) %></a> [Your Affinity: ]
        </li><br>
      <% end %>
      </ul>
    </div>
    <div class="large-8 vote-panel">
      <div class="bill-display">
        <h4>Official Title:</h4>
        <%= truncate(@bill.official_title, length: 300) %>
        <a href="<%= @bill.congress_url %>">See full bill</a>
        <br>
        <br>
        <h4>Affinity Score: </h4>
        <br>
        <div class="row">
          <div class="large-4 large-centered columns">
            <%= simple_form_for @vote do |f| %>
              <%= f.input :bill_id, as: :hidden %>
              <%= f.submit "Yea", class: "button radius large" %>
              <%= f.submit "Nay", class: "button radius large" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>