<div class="row">
  <div class="large-12 columns center-text">
    <h1><span id='text-blue'>open</span><span id='text-red'>PAC</span></h1>
    <p id='slogan'>State your position. <span id='text-red'>Take a stance</span>.</p>
  </div>
</div>
<div class="row">
  <div class="large-6 large-centered columns">
    <div class="large-10 columns inline">
      <%= form_tag "/search", method: :get do %>
      <%= text_field :search, :words, placeholder: "search your issue", class: "radius" %>
    </div>
    <div class="large-2 columns inline">
      <%= submit_tag "Submit", class: "button tiny radius" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns center-text">
    <% @issues.each do |issue| %>
    <em><a {href="/stances/issues/<%= issue.description %>" data-search> <%= issue.description %></a></em>&nbsp&nbsp
    <% end %>
  </div>
</div>
<div class="row">
  <br>
  <div class="large-6 large-centered columns">
    <hr>
    <div class="large-centered"><%= render partial: 'welcome/map' %></div>
  </div>
</div>
