  <div class="row">
    <div class="large-12 columns">
      <div id="legislator-list">
        <div class="row">
          <div class="large-12 columns">
            <div class="radius center-text">
              <h2 style="font-size: 2.5em;">Legislators</h2>
              <form style="margin-bottom: 2.5em;">
                <input id="stance-create-search" class="large-10 small-8 fuzzy-search" placeholder='search legislators by name'/>
              </form>
            </div>
          </div>
        </div>

          <div>
            <!-- <ul class="small-block-grid-8 list"> -->
            <ul class="ch-grid">
              <% @legislators.each_with_index do |legislator, i| %>
              <li>

                <div class="ch-item ch-img-<%= i+1 %> <%= legislator.party.downcase %>" style="background-image: url(<%= legislator.img_url %>); background-size: 10em 10em;">
                  <div class="ch-info">
                    <a href="/legislators/<%= legislator.id %>">
                    <h3><%= legislator.name %></h3>
                    <p><%= legislator.party %> </p></a>
                  </div>
                </div>

              </li>
              <% end %>
            </ul>
          </div>
      </div>
    </div>
  </div>