<div class="row">
  <div class="large-6 columns">
    <div class="row">
      <div class="large-4 columns">
        <div>
          <h1><img class="legislator-img" src="<%= @legislator.img_url %>" /></h1>
        </div>
      </div>
      <div class="large-8 columns">
        <div align="" style="font-size: 5em;">
          <div id = "contact-info" class="panel">
            <h4 style=" color: black;"><%= @legislator.offical_prefix %> <%= @legislator.name  %> - (<%= @legislator.party %>) <%= @legislator.current_state %></h4>
            <ul class="no-bullet">
              <li>Website: <%= @legislator.website %></li>
              <li>Phone: <%= @legislator.phone %></li>
              <li>Fax: <%= @legislator.fax if @legislator.fax %></li>
              <li><a href="http://www.twitter.com/<%= @legislator.twitter_id %>" >Twitter</a></li>
              <li><a href="http://www.facebook.com/<%= @legislator.facebook_id %>" >Facebook</a></li>
              <li><a href="http://www.youtube.com/<%= @legislator.youtube_id %>" >Youtube</a></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
    <div class="panel" id="bio">
      <h4>Bio:</h4>
        <ul>
          <% @legislator.biography.split(';').each do |bullet| %>
            <li class='bio'>- <%= bullet %></li>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="large-6 columns">
    <% @legislator.legislator_issues.each do |issue_stance| %>
    <div class=" row">
      <div class="large-12 columns issue_title">
        <%= link_to issue_stance.issue.description, root_path, method: :get, class: "center-text" %>
      </div>
      <div class="large-10 large-centered columns">
        <div class="row">
          <div class="large-2 columns" id="donkey-logo-div">
            <%= image_tag("donkey.png", class: "poly-logo") %>
          </div>

          <div class="large-8 columns">
            <div class="range-slider round" data-slider="<%= issue_stance.issue_score %>" data-options="start: 1; end: 100;">
            <span class="range-slider-handle"><img class="bar-face" src="<%= @legislator.img_url %>"></span>
            </div>
          </div>

          <div class="large-2 columns>">
            <%= image_tag("elephant.png", class: "poly-logo") %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


