<!-- Header and Nav -->

  <div class="row">
    <div class="large-6 columns">
      <div>
        <div class='bgimg text-center'>
          <h1><img class="legislator-img" src="<%= @legislator.img_url %>" /></h1>
        </div>
      </div>
    </div>

    <div class="large-6 columns">
      <div class="panel">
        <ul class="no-bullet">
          <h3><%= @legislator.name  %> - <%= @legislator.party %></h3>
        </ul>
      </div>

      <div class="panel">
        <%= @legislator.biography %>
      </div>

      <div class="panel">
        <ul class="no-bullet">
          <li>Website: <%= @legislator.website %></li>
          <li>Phone: <%= @legislator.phone %></li>
          <li>Fax: <%= @legislator.fax %></li>
          <li>Party: <%= @legislator.party %></li>
          <li>State: State</li>
        </ul>
      </div>

    </div>
  </div>

<!-- End Header and Nav -->

 <div class="row">
  <div class="large-2 large-centered columns">
    <h4 class="center-text">Issue</h4>
  </div>
  <div class="large-10 large-centered columns">
    <div class="row">
      <div class="large-2 columns" id="donkey-logo-div">
        <%= image_tag("donkey.png", class: "poly-logo") %>
      </div>

      <div class="large-8 columns">
        <div class="range-slider round" data-slider="22" data-options="start: 1; end: 100;">
        <span class="range-slider-handle"><img class="bar-face" src="http://www.glaad.org/sites/default/files/president-barack-obama-2013-inauguration-537x442.jpg"></span>
        </div>
      </div>

      <div class="large-2 columns>">
        <%= image_tag("elephant.png", class: "poly-logo") %>
      </div>
    </div>
  </div>
</div>


