<div class="stance_detail_container">
  <a href="/stances/<%= stance.id %>">
    <div class="stance_detail">
      <p><span class='text-red'  style='font-size: 1.3em;'><%= stance.position.description %></span><br>
      <span class="text-blue" style="text-shadow: 2px 2px 2px #CED3DE; font-size: 1.2em;"><%= stance.position.issue.description %></span><br>
      <span class='text-green' style="font-size: 1.2em;"><%= stance.legislators.count %> </span><em class='text-blue'  style="font-size: 1em;">legislators</em> supports</p>





    </div>
  </a>
  <div class="s-detail-footer" align="center">
    <% if logged_in?%>
      <div class="footer-left" align="center">
        <% if stance.total_donated_amount > 0 %>
          <span style="font-size: 1.2em;">$<%= stance.total_donated_amount %></span>
        <% else %>
          <span style="font-size: 1.2em;">$0</span>
        <% end %>
      </div>
      <div align="center">
        <%= link_to stance_donations_new_path(stance), method: :get do %>
          <div class="" align="center">
             Donate
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="" align="center">
         <span style="font-size: 1.2em;"><%= stance.upvotes.count %></span> <b class='text-blue'  style="font-size: 1em;">upvotes</b>
      </div>
    <% end %>
  </div>


  <div class="s-detail-footer" align="center">
    <% if logged_in?%>
      <div class="footer-left" align="center">
         <span style="font-size: 1.2em;"><%= stance.upvotes.count %></span> <b class='text-blue'  style="font-size: 1em;">upvotes</b>
      </div>
      <div align="center">
      <% if !stance.voted(current_user.id)  %>
        <%= link_to'/upvotes/create', method: :post, id: stance.id do %>
          <div class="" align="center">
             Upvote
          </div>
        <% end %>
      <% else %>
           Voted
      <% end %>
      </div>
    <% else %>
      <div class="" align="center">
        <% if stance.total_donated_amount > 0 %>
          <span style="font-size: 1.2em;">$<%= stance.total_donated_amount %> </span><b class='text-blue'  style="font-size: 0.8em;">contributed</b>
        <% else %>
          <span style="font-size: 1.2em;">$0 </span><b class='text-blue'  style="font-size: 0.8em;">contributed</b>
        <% end %>
      </div>
    <% end %>
  </div>
</div>