<div class="stance-detail-container">
  <a href="/stances/<%= stance.id %>">
    <div class="stance-detail panel text-right">
        <span class='text-blue'></span><br><br>
        <em></em> <span class='text-green'><%= stance.legislators.count %></span> <em>legislators support</em><br><br>
        <span class='text-red'><%= stance.position.description %></span><br><br>
      <%= stance.position.issue.description %><br>
      <%= stance.created_at %> by <%= stance.user.username %>
    </div>
  </a>
</div>