<div class="row">
  <div class="large-2 medium-2 small-12 columns">
    <div class="sidebar">
      <nav>
        <ul class="side-nav">
          <li class="heading"><h3>Stances</h3></li>
          <li><a href="/stances/issues/Popular" data-search>Popular</a></li>
          <li><a href="/stances/issues/Recent" data-search>Recent</a></li>
          <li class="divider"></li>
          <li class="heading"><h4>Issues</h4></li>
          <% @issues.each do |issue| %>
          <li><a href="/stances/issues/<%= issue.description %>" data-search><%= issue.description %></a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
  <div class="stances">
    <div class="large-10 medium-10 columns">
      <% if params[:select] == "Popular" || params[:select] == "Recent" %>
      <h3 class="stance_index_title"><span class='text-red'><%= params[:select] %></span> Stances</h3>
      <% elsif params[:select] %>
      <h3 class="stance_index_title">Stances other users have taken on the issue of <span class='text-red'><%= params[:select] %></span>:</h3>
      <% else %>
      <h3 class="stance_index_title"><span class='text-red'>All</span> Stances</h3>
      <% end %>
      <div class="row stance_detail_list">
      <%= render partial: "stances/stance_list", locals: {stances: @stances} %>
      </div>
    </div>
  </div>
  <div class="large-9 medium-8 columns">
    <%= button_tag 'Load more',  method: :get, action: '/stances/load', id: 'load_more_button' %>
  </div>
</div>
</div>