<%= form_for @stance do |f| %>
  <div class="row">   
    <div class="large-6 columns">
      <h5>When it comes to</h5>  
      <%= collection_select :position, :issue_id, @issues,:id,:description, :include_blank => "Issue" %>
    </div>

    <div class="large-6 columns">
    <h5>I believe in</h5>
    <%= f.collection_select :position_id, @positions,:id,:description, include_blank: "Position" %>
    </div>
  </div>

  <div class="row center-text">
    <div class="large-5 large-centered columns">
      <p><%= f.submit "Take a stance", class: "button small radius zero-margin" %></p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div id="legislator-list">
        <div class="row">
          <div class="large-12 columns">
            <div class="radius panel center-text">
              <form>
                <input id="stance-create-search" class="large-10 small-8 fuzzy-search" placeholder='search legislators by name'/>
              </form>
            </div>
          </div>
        </div>

          <div class="panel" id="legislator-list-panel">
            <ul class="small-block-grid-8 list">
              <% @legislators.each do |legislator| %>
              <li>
                <img title="<%= legislator.name %>" id="<%= legislator.id %>" src="<%= legislator.img_url %>" class="legislator-pic" />
                <p class="name"><%= legislator.name %></p>

                <%= check_box "legislator_id", legislator.id, {class: "legislator-checkbox"}, 'true', 'false' %>

              </li>
              <% end %>
            </ul>
          </div>
      </div>
    </div>
  </div>
<% end %>

