<%= form_for @stance do |f| %>
  <div class="row">
    <div class="large-6 columns">
      <h2>When it comes to</h2>
      <ul>
        <% @issues.each do |issue| %>
          <li>
            <a href="/issues/positions" class="issue_select button small radius zero-margin" value="<%= issue.id %>"><%= issue.description %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="large-6 columns">
      <h2>I believe in</h2>
      <div class="position_select_box">
        <ul></ul>
      </div>
    </div>


  </div>

  <div class="row center-text">
    <div class="large-5 large-centered columns">
      <p><%= f.submit "Take a stance", class: "button small radius zero-margin" %></p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div id="legislator-list">
        <div class="row">
          <div class="large-12 columns">
            <div class="radius panel center-text">
              <form>
                <input id="stance-create-search" class="large-10 small-8 fuzzy-search" placeholder='search legislators by name'/>
              </form>
            </div>
          </div>
        </div>

          <div class="panel" id="legislator-list-panel">
            <ul class="small-block-grid-8 list">
              <% @legislators.each do |legislator| %>
              <li>
                <img title="<%= legislator.name %>" id="<%= legislator.id %>" src="<%= legislator.img_url %>" class="legislator-pic" />
                <p class="name"><%= legislator.name %></p>

                <%= check_box "legislator_id", legislator.id, {class: "legislator-checkbox"}, 'true', 'false' %>

              </li>
              <% end %>
            </ul>
          </div>
      </div>
    </div>
  </div>
<% end %>

