<div class="row">
  <div class="large-6 columns">
    <h2><span class='text-blue'><a href="/users/<%=@author.id%>"><%= @author.username %></a></span> believes in <br><span class='text-red'><%= @position.description %></span></h2>
    <h6><a href="/stances/issues/<%= @position.issue.description %> "><%= @position.issue.description %></a></h6>
  </div>
</div>

<div class="row">
  <div class="large-7 columns">
    <div class="panel">
      <ul class="small-block-grid-4">
        <% @stance.legislators.each do |legislator| %>

          <li><img src="<%= legislator.img_url %>"><a href="/legislators/<%= legislator.id %>"><%= legislator.name %></a><br></img></li>
        <% end %>
      </ul>
    </div>
      <% if logged_in? && (@author == current_user) %>
        <%= button_to "Delete", @stance, method: :delete, class: "button radius" %>
      <% end %>
  </div>
  <!-- Sidebar -->
  <div class="large-5 columns">
    <ul class="side-nav">
      <li><h3><%= @stance.legislators.count %></h3></li>
      <li><h6>Supporting legislators</h6></li>
      <li><h3><%= @stance.upvotes.count %></h3></li>
      <li><h6>Upvotes</h6></li>
    </ul>
  </div>

  <% if logged_in? %>
    <%= render partial: "upvotes/new", locals: {upvote: @upvote} %>
  <% else %>
    <h4>Sign in to upvote.</h4>
  <% end %>
    <!-- End Sidebar -->

  <%= form_tag stance_donations_path(@stance), method: :get do %>
    <%= submit_tag "Donate", class: "button radius" %>
  <% end %>

</div>



