<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glass Dashboard</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= google_webfonts_init({google: ['Montserrat', 'Roboto Slab', 'Roboto']}) %>
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <%= render partial: 'welcome/topnav' %>
    </nav>
    <section role='main' class='scoll-container'>
        <%= yield %>
    </section>
    <%= javascript_include_tag "application" %>
  </body>
</html>